body { background-color: #999999; }

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr
}

header {
  grid-column: span 3;
  background-color: lightblue;
  padding-left: 20px;
  margin-bottom: 20px;
  color: white;
}

nav {
  grid-column: span 3;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
}

nav li {
  width: 200px;
}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}
main {
  grid-column: span 2;
  padding-left: 20px;
  margin-right: 20px;
}

main img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

aside {
  grid-column: span 1;
  background-color: yellow;
  padding: 20px;
}

footer {
  background-color: red;
  grid-column: span 3;
  color: white;
  padding-left: 20px
}
