h1 {
  color:white
}

#header {
  background-color: #4bb4bf
}

a {
  text-decoration: none;
}

a {
  color: #36ff79
}

a:hover {
  color: #9e0927
}
a:hover {
  text-decoration: underline;
}

h2 {
  color: #245de3
}

#Doc {
  color: #f0b754
}

h3 {
  background-color: #fcde58
}

#Inf {
  color: #db143f
}

h4 {
  color: #f7ea6f
}
h4 {
  background-color: #17453e
}

#dad {
  background-color: #65f098
}

#Daughter {
  background-color: #f5e78c
}
