body {
  background-color: #f7f6f5;
  margin: 0;
}

#wrapper {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

#fancy {
    margin: 1em auto;
    width: 960px;
    border: 3px solid black;
    background-color: #ffffff;
    padding: 1em;
}

main p {
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: 790;
}

aside p {
  text-align: center;
  font-size: 18pt;
  border-bottom: 3px solid #DE4646;
  color: #DE4646;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 18px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

aside {
  margin: 20px;
  border-right: 3px solid #DE4646;
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: 800;
}

#homeimg {
  margin-top: 20px;
  Margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

#contactimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.border {
padding: 20px;
border: 10px;
border: black;
}

header {
  grid-column:span 12;
  background-color: #DE4646;
  color: white;
  padding: 35px;
  margin: 0px;
}

h2 {
  font-family: 'Nunito', sans-serif;
  grid-column:span 11;
  border-bottom: 5px solid black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
  text-align: center;
  grid-column: span 3;
  margin: 10px;
  margin-top: 0px;
  width: 158px;
  display: inline-block;
  display: block;
  padding: 8px;
  text-decoration: none;
  background: none;
  color: black;
  font-weight: 900;
  transition: background-color 1.0s, width 2.0s, color .5s;
}

ul li a:hover {
  Color: #DE4646;
}

main {
  grid-column: span 11;
  padding-right: 20px;
}

#shadow {
  text-shadow: 1px 1px .5px #c48f89;
}

.icona {
  padding: 20px;
  font-size: 40pt;
  margin-bottom: 0px;
}

#move {
  text-align: center;
}

section a {
  color: black;
  transition: background-color 1.0s, width 2.0s, color .3s;
}

section a:hover {
  color: #DE4646;
}

.center {
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.marge {
  margin: 10px;
  padding: -10px;
}
